.banner-container {
    width: 100%;
    height: 140px;
}

.icon-container {
    height: 80px;
    width: 80px;
    overflow: clip;
    border-radius: 4px;
}

.icon-container>img {
    width: 100%;
}

.x-sign {
    font-size: 2rem;
    font-weight: 700;
}
