.main-heading-container {
    padding: 1rem;
}

.heading {
    font-size: max(4rem, 6.5vw);
    font-weight: 900;
    letter-spacing: .20rem;
    user-select: none;
    text-shadow: 4px 4px 50px black;
}

.heading::after {
    content: "Z";
    font-size: max(4.2rem, 7vw);
    font-family: 'Pixelify Sans', sans-serif;
}

.sub-title {
    margin-bottom: 1rem;
}

.sub-heading {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #FBB52E;
}

.button {
    height: 56px;
    padding: 1rem;
    user-select: none;
    position: relative;
    font-weight: 500;
    width: fit-content;
    background-color: pink;
    border-radius: 0.25rem;
    box-shadow: var(--shadow-dark-elevation-low);

    &>* {
        color: black;
    }

    &:hover {
        cursor: pointer;
        box-shadow: var(--shadow-dark-elevation-high);
    }

}

.join-discord {
    background-color: #9167F1;
}

.support {
    background-color: #FBB52E;

    &>span {
        color: black;
    }
}


.support-icon {
    font-variation-settings: 'FILL' 1;
    font-size: 28px;
}

.discord-logo {
    height: 28px;
    width: 28px;
}
